
<div class="col col-lg-12">

    <div class="row">
        <div class="col col-lg-12">
            <canvas id="line-chartWeek" width="800" height="250"></canvas>
        </div>
    </div>
</div>
<div class="col col-lg-12">

    <div class="row">
        <div class="col col-lg-12">
            <canvas id="line-chartMonth" width="800" height="250"></canvas>
        </div>
    </div>
</div>
<div class="col col-lg-12">

    <div class="row">
        <div class="col col-lg-12">
            <canvas id="line-chartYear" width="800" height="250"></canvas>
        </div>
    </div>
</div>



<script src="~/lib/Chart.js/chart.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {


        function GetJSON_Simple() {
            var resp = [];
            $.ajax({
                type: "GET",
                url: '/Statistics/GetChartData',
                async: false,
                contentType: "application/json",
                success: function (data) {
                    resp.push(data);
                },
                error: function (req, status, error) {
                    // do something with error
                    alert("error");
                }
            });
            return resp;
        }

        var simpleData = GetJSON_Simple();

        new Chart(document.getElementById("line-chartWeek"), {
            type: 'line',
            data: {
                labels: simpleData[0].weekLabel,
                datasets: [{
                    data: simpleData[0].weekData,
                    label: "Wydatki Tydzień",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: ''
                }
            }
        });

        new Chart(document.getElementById("line-chartMonth"), {
            type: 'line',
            data: {
                labels: simpleData[0].monthLabel,
                datasets: [{
                    data: simpleData[0].monthData,
                    label: "Wydatki Rok",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: ''
                }
            }
        });

        new Chart(document.getElementById("line-chartYear"), {
            type: 'line',
            data: {
                labels: simpleData[0].yearLabel,
                datasets: [{
                    data: simpleData[0].yearData,
                    label: "Wydatki Ostatnie Lata",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: ''
                }
            }
        });






    });
</script>


