
@{
    ViewData["Title"] = "Panel";
}
<style>
    .block {
        min-height: 200px;
    }
</style>
<div class="container">
    <div class="row block bg-dark">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-light">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-secondary">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-dark">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-light">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-secondary">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-dark">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-light">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-primary">
        <div class="col-lg-12">

        </div>
    </div>




</div>


