<style>
    .imageL {
        max-height: 150px;
        max-width: 150px;
    }

    .imageSelected {
        border: solid 3px darkblue;
        padding: 5px;
        background-color: darkblue;
    }
</style>

<div class="col col-lg-12">
    <div class="row">
        <div class="col col-lg-12">
            <h3>Twoje kosze na zakupy</h3>
        </div>
        <div class="col col-lg-2">
            <img src="~/AppPictures/shopping-cart-icon.png" class="imageL" />
        </div>
        <div class="col col-lg-2">
            <h5>Dzień</h5>
            <img src="~/AppPictures/shopping-cart-icon1.jpg" class="ShoppingCartTypeSelect imageSelected" />
        </div>
        <div class="col col-lg-2 ">
            <h5>Tydzień</h5>
            <img src="~/AppPictures/shopping-cart-icon1.jpg" class="ShoppingCartTypeSelect" />
        </div>
        <div class="col col-lg-2">
            <h5>Miesiąc</h5>
            <img src="~/AppPictures/shopping-cart-icon1.jpg" class="ShoppingCartTypeSelect" />
        </div>
        <div class="col col-lg-2">
            <h5>Rok</h5>
            <img src="~/AppPictures/shopping-cart-icon1.jpg" class="ShoppingCartTypeSelect" />
        </div>
        <div class="col col-lg-2">
            <h5>Poszukiwane</h5>
            <img src="~/AppPictures/shopping-cart-icon1.jpg" class="ShoppingCartTypeSelect" />
        </div>
    </div>

</div>