@{

    Layout = null;
}

<style type="text/css">
    .label {
        min-width: 200px;
        background-color: white;
    }

    .img-thumbnail {
        margin-top: 30px;
    }


    .imageR {
        position: relative;
    }

    .iconAction {
        position: absolute;
        bottom: 0;
        left: 15px;
    }

    .Remove {
        position: absolute;
        bottom: 0;
        left: 15px;
    }

    .iconAction:hover {
        background-color: lightgray;
    }


    .error {
        color: red;
        margin-left: 15px;
        color: red;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
    }
</style>



<div id="dialog">


    <form id="PictureAddForm" asp-action="AddPictureAsync" method="post" enctype="multipart/form-data">
        <div>
            <div>
                <label>Dodaj Zdjęcie</label>
            </div>
            <div>
                <input title="Musisz wybrać plik" class="required error" id="choose" type="file" name="file" @*multiple*@ />
                <input id="PictureNumber" style="display:none" name="PictureNumber" value="" />
                <input id="Upload" style="display:none" type="submit" value="Upload" />

            </div>

        </div>

    </form>
</div>
<div>
    <form id="RemoveForm" asp-action="RemovePicture" asp-controller="Home" method="post">
        <input id="RemovePicture" style="display:none" name="Number" value="" />
    </form>
</div>




<script>

    $(document).ready(


        function () {


            //$('#PictureAddForm').validate({

            //    errorPlacement: function (error, element) {
            //        error.insertBefore(element);
            //    }

            //});

            $("#dialog").dialog({
                autoOpen: false,
                draggable: false,
                resizable: false,
                width: 500,
                height: 400,
                modal: true,
                show: 'slideDown',
                hide: 'slideUp',
                dialogClass: "no-close",
                buttons: [
                    {

                        text: "Anuluj",
                        click: function () {
                            $(this).dialog("close");
                        }


                    },
                    {

                        text: "Potwierdź",
                        click: function () {
                            $("#Upload").click();
                        }
                    }
                ]
            });



            $(".iconAction").click(function () {

                var numb = $(this).attr("alt");

                $("#PictureNumber").val(numb);
                $("#dialog").dialog("open");
            });


            $(".Remove").click(function () {


                var numb = $(this).attr("alt");
                $("#RemovePicture").val(numb);
                $("#RemoveForm").submit();






            });

        }



    );




</script>