@model AddNewProductViewModel
@{
    ViewData["Title"] = "AddProduct";
    Layout = "_LayoutAuto";
}

<div class="container">

    <div class="row">
        <div class="col col-lg-2">

        </div>
        <div class="col col-lg-8">
            <div id="ScanBarCode" class="row">
                <div class="col col-lg-12">
                    <h1>Dodaj Produkt</h1>
                </div>


                <div class="col-md-6" style="padding-top:50px;">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div id="LiveCamera" style="margin-bottom:50px;"></div>
                            <form>
                                <input id="CaptureSnapshot" type="button" class="btn btn-primary" value="Zrób zdjęcie kodu">
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-top:50px;">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div id="results">Twój kod pojawi się tutaj</div>
                        </div>
                        <div class="col col-md-12">
                            <div style="max-width:320px;" id="BarcodeResult"></div>
                        </div>
                        @*<div class="col col-md-12">
                                <input id="SearchProductByFoundBarCode" class="btn btn-success" value="Poszukaj produktu" />
                            </div>*@

                        <br />
                        <br />
                    </div>
                </div>


                <div class="col col-lg-4">

                </div>


                <div class="col col-md-12">




                    <form asp-action="AddProduct" asp-controller="ManagementProductsAndShops" method="post">

                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Nazwa</label>
                            <input id="ProductNameResult" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Cena</label>
                            <input class="form-control" asp-for="Price" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Opis</label>
                            <input id="DescriptionR" class="form-control" asp-for="Description" />
                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Waga</label>
                            <input class="form-control" asp-for="Weight" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>

                        <div class="col col-lg-12">
                            <h2>Zdjęcie</h2>
                            <img id="ProductImage" style=" max-height: 480px;max-width: 640px;" src="">
                            <input style="display:none;" id="ProductImage2" class="form-control" asp-for="Picture" />
                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Kategoria</label>

                            <select asp-for="Category" class="custom-select custom-select-sm" asp-items="@Model.Categories"></select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Kod kreskowy</label>
                            <input id="BarCodeR" class="form-control" asp-for="Barcode" />
                            <span asp-validation-for="Barcode" class="text-danger"></span>
                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Firma</label>
                            <input id="CompanyAutoComplete" class="form-control" asp-for="Company" />
                            <input style="display:none;" id="CompanyId" class="form-control" asp-for="CompanyId" />
                            <span asp-validation-for="Company" class="text-danger"></span>

                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Sklep</label>
                            <input id="ShopAutoComplete" class="form-control" asp-for="Shop" />
                            <input style="display:none;" id="ShopId" class="form-control" asp-for="ShopId" />
                            <span asp-validation-for="Shop" class="text-danger"></span>
                        </div>
                        <div class="col col-lg-12">
                            <label class="font-weight-bold">Produckt w promocji</label>
                            <input class="form-control" asp-for="SpecialOffer" />

                        </div>
                        <div class="col col-lg-12">
                            <input style="display:none;" id="CodeCountry" class="form-control" asp-for="CodeCountry" />
                        </div>
                        <div class="col col-lg-12">

                            <input class="btn btn-success" type="submit" value="Dodaj" />
                        </div>
                    </form>











                </div>








            </div>








        </div>
        <div class="col col-lg-2">

        </div>
    </div>
</div>








@section Scripts
{



    <script>


        $(document).ready(function () {





            $('#BarcodeResult').on('DOMSubtreeModified', function () {

                setTimeout(function () {


                    var barcodeVal = $(this).find('#GetBarCode').val();

                    var prodName = $('#ProductName').val();
                    var prodImage = $('#ProductImageUrl').val();

                    var code = $('#BarCodeProductDS').val();
                    var descripton = $('#DescriptionProductDS').val();
                    var company = $('#BrandProductDS').val();
                    var country = $('#ProductCountry').val();

                    $('#BarCodeR').val(code);
                    $('#DescriptionR').val(descripton);
                    $('#CompanyR').val(company);

                    $('#ProductNameResult').val(prodName);
                    $('#ProductImage').attr("src", prodImage);
                    $('#ProductImage2').val( prodImage);
                    $('#CodeCountry').val(country);

                }, 1000);





            });




              $("#CompanyAutoComplete").autocomplete(
                {

             source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("AutoCompleteCompany", "ManagementProductsAndShops")',
                            data: { "prefix": document.getElementById('CompanyAutoComplete').value },
                            type: "POST",
                            success: function (data) {


                                response($.map(data, function (item) {
                                    return item;
                                }))

                            },
                            error: function (response) {
                                alert("Error");
                            },
                            failure: function (response) {
                                alert("Error");
                            }
                        });
                    },
                    select: function (e, i) {
                        event.stopPropagation()


                        $("#CompanyAutoComplete").text(i.item.value);



                    },
                    minLength: 1
                });


        $("#ShopAutoComplete").autocomplete(
                {

             source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("AutoCompleteShop", "ManagementProductsAndShops")',
                            data: { "prefix": document.getElementById('ShopAutoComplete').value },
                            type: "POST",
                            success: function (data) {


                                response($.map(data, function (item) {
                                    return item;
                                }))

                            },
                            error: function (response) {
                                alert("Error");
                            },
                            failure: function (response) {
                                alert("Error");
                            }
                        });
                    },
                    select: function (e, i) {
                        event.stopPropagation()





                        $("#ShopAutoComplete").text(i.item.value);



                    },
                    minLength: 1
                });



             @*$("#ShopAutoComplete").autocomplete(
                {

             source: function (request, response) {
                        $.ajax({

                            url: '@Url.Action("AutoCompleteShop", "ManagementProductsAndShops")',
                            data: { "prefix": document.getElementById('ShopAutoComplete').value },
                            type: "POST",
                            success: function (data) {


                                response($.map(data, function (item) {
                                    return item;
                                }))

                            },
                            error: function (response) {
                                alert("Error");
                            },
                            failure: function (response) {
                                alert("Error");
                            }
                        });
                    },
                    select: function (e, i) {
                        event.stopPropagation()





                        $("#ShopAutoComplete").text(i.item.value);



                    },
                    minLength: 1
                });*@











        });
    </script>








    <script src="~/webcamjs/webcam.js"></script>
    <script>







        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });


        Webcam.attach('#LiveCamera');





        function CaptureSnapshot() {
            Webcam.snap(function (data) {
                // display results in page
                document.getElementById('results').innerHTML = '<img src="' + data + '"/>';
                // Send image data to the controller to store locally or in database
                Webcam.upload(data,
                    '/BarCode/CaptureImage',
                    function (code, text) {

                        $('#BarcodeResult').empty();
                        $('#BarcodeResult').html(text);








                    });
            });



        }

        $('#ScanBarCode').on('click', '#CaptureSnapshot', function () {

            CaptureSnapshot();







        });

                            /////AutoComplete





    </script>














}



