@model AddShopViewModel
@{
    ViewData["Title"] = "AddShop";
    Layout = "_LayoutAuto";
}




<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />





<div class="container">
    <div class="col col-lg-12 text-center">
        <h1>Dodaj sklep</h1>
    </div>
    <div class="col col-lg-4">
        <div id="ShowShopMap">

        </div>

    </div>
    <div class="col col-lg-4">
        <form asp-action="AddShop" asp-controller="ManagementProductsAndShops" method="post">
            <h2>Dane podstawowe    </h2>

            <div class="col col-lg-12">
                <label class="font-weight-bold">Nazwa sklepu</label>
                <input type="text" id="ShopNameAutoComplete" class="form-control" asp-for="shop.Name" />
            </div>
            <div class="col col-lg-12">
                <label class="font-weight-bold">Właściciel</label>
                <input id="OwnerNameAutoComplete" class="form-control" asp-for="shop.Owner" />
            </div>
            <h2>Lokalizacja</h2>
            <div class="col col-lg-12">
                <label class="font-weight-bold">Nazwa Lokalizacji</label>
                <input class="form-control" asp-for="ShopLocation.Name" />
            </div>
            <div class="col col-lg-12">
                <label class="font-weight-bold">Numer domu</label>
                <input class="form-control" asp-for="ShopLocation.Number" />
            </div>

            <div class="col col-lg-12">
                <label class="font-weight-bold">Numer lokalu</label>
                <input class="form-control" asp-for="ShopLocation.SecondNumber" />
            </div>
            <div class="col col-lg-12">
                <label class="font-weight-bold">Kod pocztowy</label>
                <input class="form-control" asp-for="ShopLocation.PostalCode" />
            </div>
            <div class="col col-lg-12">
                <label class="font-weight-bold">Kraj</label>
                <input class="form-control" asp-for="ShopLocation.Country" />
            </div>
            <div class="col col-lg-12">
                <label class="font-weight-bold">Misto</label>
                <input class="form-control" asp-for="ShopLocation.City" />
            </div>
            <div class="col col-lg-12">
                <label class="font-weight-bold">Ulica</label>
                <input class="form-control" asp-for="ShopLocation.Street" />
            </div>
        </form>
    </div>
    <div class="col col-lg-4">

    </div>
</div>







<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>

<script>



        $(document).ready(function ()
        {


            function ShowShopOnMap()
            {


                  $.ajax({
                    url: '@Url.Action("ShowShopOnMap", "ManagementProductsAndShops")',
                    type: "get",

                    headers:
                    {
                        //"RequestVerificationToken": t
                    },
                    success: function (result) {

                        $('#ShowShopMap').empty();
                        $('#ShowShopMap').html(result);

                    }
                });










            }

            ShowShopOnMap();









            $("#ShopNameAutoComplete").autocomplete(
                {

             source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("AutoCompleteShopName", "ManagementProductsAndShops")',
                            data: { "prefix": document.getElementById('ShopNameAutoComplete').value },
                            type: "POST",
                            success: function (data) {


                                response($.map(data, function (item) {
                                    return item;
                                }))

                            },
                            error: function (response) {
                                alert("Error");
                            },
                            failure: function (response) {
                                alert("Error");
                            }
                        });
                    },
                    select: function (e, i) {
                        event.stopPropagation()
                        $("#ShopNameAutoComplete").text(i.item.value);
                    },
                    minLength: 1
                });


            ////

             $("#OwnerNameAutoComplete").autocomplete(
                {

             source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("AutoCompleteOwnerName", "ManagementProductsAndShops")',
                            data: { "prefix": document.getElementById('OwnerNameAutoComplete').value },
                            type: "POST",
                            success: function (data) {


                                response($.map(data, function (item) {
                                    return item;
                                }))

                            },
                            error: function (response) {
                                alert("Error");
                            },
                            failure: function (response) {
                                alert("Error");
                            }
                        });
                    },
                    select: function (e, i) {
                        event.stopPropagation()
                        $("#OwnerNameAutoComplete").text(i.item.value);
                    },
                    minLength: 1
                });

            //////


        });





</script>



