@model AddShopViewModel

<div class="col col-lg-12">
    <label class="font-weight-bold">Nazwa Lokalizacji</label>
    <input class="form-control" asp-for="ShopLocation.Name" />
</div>
<div class="col col-lg-12">
    <label class="font-weight-bold">Numer domu</label>
    <input class="form-control" asp-for="ShopLocation.Number" />
</div>

<div class="col col-lg-12">
    <label class="font-weight-bold">Numer lokalu</label>
    <input class="form-control" asp-for="ShopLocation.SecondNumber" />
</div>
<div class="col col-lg-12">
    <label class="font-weight-bold">Kod pocztowy</label>
    <input class="form-control" asp-for="ShopLocation.PostalCode" />
</div>
<div class="col col-lg-12">
    <label class="font-weight-bold">Kraj</label>
    <input class="form-control" asp-for="ShopLocation.Country" />
</div>
<div class="col col-lg-12">
    <label class="font-weight-bold">Miasto</label>
    <input class="form-control" asp-for="ShopLocation.City" />
</div>
<div class="col col-lg-12">
    <label class="font-weight-bold">Ulica</label>
    <input class="form-control" asp-for="ShopLocation.Street" />
</div>
