@model AddNewProductViewModel
@{
    ViewData["Title"] = "AddProduct";
    Layout = "_LayoutAuto";
}

<div class="container">

    <div class="row">
        <div class="col col-lg-2">

        </div>
        <div class="col col-lg-8">
            <div id="ScanBarCode" class="row">

                <h1>@Model.TextMessage</h1>

                <div class="col col-md-12">


                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Nazwa</label>
                        <input readonly id="ProductNameResult" class="form-control" asp-for="Name" />

                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Cena</label>
                        <input readonly class="form-control" asp-for="Price" />

                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Opis</label>
                        <input readonly id="DescriptionR" class="form-control" asp-for="Description" />
                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Waga</label>
                        <input readonly class="form-control" asp-for="Weight" />

                    </div>

                    <div class="col col-lg-12">
                        <h2>Zdjęcie</h2>
                        <img id="ProductImage" style=" max-height: 480px;max-width: 640px;" src="">

                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Kategoria</label>

                        <input readonly asp-for="Category" class="custom-select custom-select-sm" asp-items="@Model.Categories"/>

                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Kod kreskowy</label>
                        <input readonly id="BarCodeR" class="form-control" asp-for="Barcode" />

                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Firma</label>
                        <input readonly id="CompanyAutoComplete" class="form-control" asp-for="Company" />

                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Sklep</label>
                        <input readonly id="ShopAutoComplete" class="form-control" asp-for="Shop" />
                    </div>
                    <div class="col col-lg-12">
                        <label class="font-weight-bold">Produckt w promocji</label>
                        <input disabled class="form-control" asp-for="SpecialOffer" />

                    </div>




                </div>

            </div>

        </div>

    </div>
</div>
