|

<div class="row">

    <div class="col-md-6" style="padding-top:50px;">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div id="LiveCamera" style="margin-bottom:50px;"></div>
                <form>
                    <input id="CaptureSnapshot" type="button" class="btn btn-primary" value="Zrób zdjęcie kodu" >
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-top:50px;">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div id="results">Twój kod pojawi się tutaj</div>
            </div>
            <div class="col col-md-12">
                <div style="max-width:320px;" id="BarcodeResult"></div>
            </div>
            <div class="col col-md-12">
               <input id="SearchProductByFoundBarCode"  class="btn btn-success" value="Poszukaj produktu"/>
            </div>

            <br />
            <br />
        </div>
    </div>

    
    <script src="~/webcamjs/webcam.js"></script>
   






</div>












    











